.order-data {
	float: left;
	width: 40%;
	margin-left: 3%;
	@include media-breakpoint-down(small-tablet) {
		margin-left: 0;
		width: 98%;
	}
}

.order-data__order-block {
	transition: all 400ms;
	@include media-breakpoint-down(small-tablet) {
		position: fixed;
		top: 70px;
		left: calc(100% - 24px);
		padding: 0 24px;
		width: 88%;
		height: 50px;
		border: 1px solid #e5e5e5;
		border-radius: 15px 0 0 15px;
		box-shadow: -5px 5px 27px -9px rgba(0,0,0,0.75);
		background-color: $white_absolute;
		overflow-y: scroll;
		z-index: 10;
	}
}

.order-data__order-block--active {
	@include media-breakpoint-down(small-tablet) {
		left: 12%;
		height: 82%;
	}
}

.order__item {
	padding: 30px 0;
	border-bottom: 1px solid $white-grey;
	@include clearfix;
}

.order__image-frame {
	float: left;
	margin-right: 30px;
	width: 160px;
	height: 175px;
	@include media-breakpoint-down(small-tablet) {
		margin-right: 10px;
		width: 100px;
		height: 100px;
	}
}

.order__image {
	max-width: 100%;
	max-height: 100%;
}

.order__description-box {
	float: left;
	width: 45%;
}

.order__product-header--link {
	color: $black_absolute;
	font-family: Exodus;
	font-size: 16px;
}

.order__product-code {
	margin-top: 14px;
	color: $black_absolute;
	font-size: $font-size;
}

.order__product-code-value {
	color: $grey_regular;
	text-transform: uppercase;
}

.order__product-characteristic {
	margin-top: 11px;
	color: $black_absolute;
	font-size: $font-size-xs;
	font-weight: bold;
}

.order__product-characteristic--color {
	margin-top: 30px;
}

.order__product-characteristic-label {
	float: left;
	width: 80px;
}

.order__product-characteristic-label--color {
	line-height: 20px;
}

.order__product-characteristic-value {
	display: inline-block;
	width: 20px;
	font-size: $font-size-xs;
	font-weight: normal;
	text-align: center;
}

.order__product-characteristic-value--color {
	height: 20px;
	border-radius: 50%;
}

.order__product-price {
	float: right;
	color: $black_absolute;
	font-size: 16px;
	font-weight: bold;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 20px;
	}
}

.order__handler {
	display: none;
	position: fixed;
	top: 70px;
	right: 0;
	padding: 22px 0 21px 4px;
	transition: all 400ms;
	@include media-breakpoint-down(small-tablet) {
		display: block;
	}
}

.order__handler span {
	@include media-breakpoint-down(small-tablet) {
		display: block;
		@include sprite($i_link-arrow);
		transform: rotate(180deg);
	}
}

.order-data__order-block--active {

	.order__handler span {
		@include media-breakpoint-down(small-tablet) {
			transform: none;
		}
	}

}

.counting {
	padding: 30px 0;
	border-bottom: 1px solid $white-grey;
}

.counting__item {
	margin-bottom: 30px;
	color: $black_absolute;
	font-size: 16px;
	font-weight: bold;
}

.counting__item:last-child {
	margin-bottom: 0;
}

.counting__item--value {
	float: right;
}

.order-data__total-price {
	margin-top: 30px;
	color: $black_absolute;
	font-size: 20px;
	font-weight: bold;
}

.order-data__total-price--value {
	float: right;
}