@font-face {
	font-family: 'FontAwesome';
	src: url('../../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

a:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

select:-moz-focusring {
	color: transparent;
    text-shadow: 0 0 0 #000;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.link-with-arrow {
	color: $black_absolute;
	font-size: $font-size;
	font-weight: bold;
}

.link-with-arrow:after {
	content: '';
	display: inline-block;
	margin: 0 0 2px 10px;
	@include sprite($i_link-arrow);
	transition: all 600ms;
}

.link-with-arrow:hover:after {
	margin-left: 30px;
}

.delete-button {
	position: absolute;
	padding: 0;
	width: 20px;
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.delete-button:before,
.delete-button:after {
	content: "";
	position: absolute;
	top: -3px;
	width: 1px;
	height: 28px;
	background-color: $grey_regular;
}

.delete-button:before {
	transform: rotate(45deg);
}

.delete-button:after {
	transform: rotate(-45deg);
}

.category-page {
	* {
		box-sizing: border-box;
	}

	a {
		text-transform: none;
	}

	.container {
		margin: 0 auto;
		max-width: 1140px;
	}

	.main-container {
		margin-top: 50px;
		margin-bottom: 98px;
	}

	.main {
		float: left;
		width: 77%;
		padding: 25px 30px 0 30px;
		@include media-breakpoint-down(small-tablet) {
			float: none;
			padding: 0 5px;
			width: 100%;
		}
	}

	.sidebar__main-link:hover {
		text-decoration: none;
	}
}