.brand-list-page .main {
	margin: 87px auto 100px;
	max-width: 1110px;
}

.brand-list {
	margin: 28px 0 100px 0;
	@include clearfix;
}

.brand-list__item {
	position: relative;
	float: left;
	margin-top: 30px;
	width: 32%;
	height: 300px;
	background-color: $grey_ultra;
	@include media-breakpoint-down(small-tablet) {
		width: 100%;
	}
}

.brand-list__item:nth-child(3n+2) {
	margin-left: 2%;
	margin-right: 2%;
	@include media-breakpoint-down(small-tablet) {
		margin-left: 0;
		margin-right: 0;
	}
}

.brand-list__link {
	display: block;
	width: 100%;
	height: 100%;
}

.brand-list__image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.brand-list__amount {
	position: absolute;
	bottom: 30px;
	width: 100%;
	color: $grey-middle;
	font-size: 12px;
	font-style: italic;
	text-align: center;
	text-transform: none;
}