@media only screen and (max-width: 666px) {

	.pagination {
		margin-top: 50px;
	}

	.pagination__list {
		float: none;
		margin-top: 15px;
		width: 100%;
	}

	.pagination__item {
		margin: 10px;
	}

}