.cart-page {
	margin: 101px auto 50px;
	padding: 100px 0 0 0;
	max-width: 1110px;
}

.cart-page__header {
	color: $black_absolute;
	font-size: $font-size-xl;
	font-weight: bold;
	text-align: center;
	@include media-breakpoint-down(small-tablet) {
		font-size: $font-size-l;
	}
}

.purchase {
	margin: 100px 0 0 0;
	width: 100%;
}

.purchase__header {
	text-align: left;
	@include media-breakpoint-down(small-tablet) {
		display: none;
	}
}

.purchase__header th {
	padding: 0 30px 22px 0;
}

.purchase__item {
	border-top: 1px solid $white-grey;
}

.purchase__item td {
	padding: 50px 30px 50px 0;
	vertical-align: middle;
	@include media-breakpoint-down(small-tablet) {
		box-sizing: border-box;
		display: block;
		float: right;
		width: 66%;
		padding: 15px 5px;
	}
}

.purchase__image-cell {
	@include media-breakpoint-down(small-tablet) {
		float: left !important;
		width: 34% !important;
	}
}

.purchase__image {
	max-width: 255px;
	max-height: 280px;
	@include media-breakpoint-down(small-tablet) {
		max-width: 100%;
		max-height: 100%;
	}
}

.purchase__product-header {
	color: $black_absolute;
	font-family: Exodus;
	font-size: 20px;
	@include media-breakpoint-down(small-tablet) {
		font-size: 16px;
	}
}

.purchase__product-code {
	margin-top: 14px;
	color: $black_absolute;
	font-size: $font-size;
}

.purchase__product-code-value {
	color: $grey_regular;
	text-transform: uppercase;
}

.purchase__product-color {
	margin-top: 50px;
	color: $black_absolute;
	font-size: $font-size;
	font-weight: bold;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 25px;
	}
}

.purchase__product-color-label {
	float: left;
	width: 80px;
	line-height: 30px;
}

.purchase__product-color-value {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.purchase__product-size {
	margin-top: 20px;
	font-size: $font-size;
	font-weight: bold;
	color: $black_absolute;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 15px;
	}
}

.purchase__product-size-label {
	float: left;
	width: 80px;
}

.purchase__product-size-value {
	display: inline-block;
	width: 30px;
	font-size: $font-size-xs;
	font-weight: normal;
	text-align: center;
}

.purchase__product-quantity-wrapper {
	position: relative;
	display: inline-block;
}

.purchase__product-quantity {
	border-color: $white-grey;
	line-height: 58px;
	text-align: center;
	@include media-breakpoint-down(small-tablet) {
		width: 100%;
		font-size: $font-size-m;
		line-height: 35px;
	}
}

.purchase__product-quantity::-webkit-inner-spin-button, 
.purchase__product-quantity::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}

.purchase__product-quantity-handlers {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 100%;
	border-bottom: 1px solid $white-grey;
	color: $black_absolute;
	line-height: 12px;
	text-align: center;
	z-index: 10;
}

.purchase__product-quantity-handler {
	position: relative;
	width: 100%;
	height: 50%;
	border: none;
	background-color: $white_absolute;
	cursor: pointer;
	outline: none;
	@include media-breakpoint-down(small-tablet) {
		height: 49%;
	}
}

.purchase__product-quantity-handler:before {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -3px;
	width: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

.purchase__product-quantity-handler--increase:before {
	bottom: 3px;
	border-bottom: 3px solid $black_absolute;
}

.purchase__product-quantity-handler--decrease:before {
	top: 3px;
	border-top: 3px solid $black_absolute;	
}

.purchase__product-price {
	font-size: 16px;
	font-weight: bold;
	color: $black_absolute;
	@include media-breakpoint-down(small-tablet) {
		font-size: $font-size-l;
	}
}

.purchase__select-wrapper {
	position: relative;
	display: inline-block;
	width: 95%;
}

.purchase__select {
	padding-left: 10px;
	width: 100%;
	height: 58px;
	border: none;
	border-bottom: 1px solid $white-grey;
	border-radius: 0;
	color: $black_absolute;
	font-family: Avanti, sans-serif;
	font-size: $font-size;
	line-height: 57px;
	outline: none;
	appearance: none;
}

.purchase__select-wrapper:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 10px;
	@include sprite($i_arrows);
}

.purchase__buttons {
	position: relative;
}

.purchase__delete-button {
	top: 20%;
	@include media-breakpoint-down(small-tablet) {
		position: relative;
		top: 0;
		margin: 15px;
	}
}

.purchase__edit-button {
	display: inline-block;
	@include sprite($i_pencil);
	border: none;
	background-color: inherit;
	cursor: pointer;
	outline: none;
	@include media-breakpoint-down(small-tablet) {
		margin: 15px;
	}
}

.purchase__handlers td {
	vertical-align: middle;
}

.purchase__update td {
	padding: 0 5px 48px;
	@include media-breakpoint-down(small-tablet) {
		display: block;
		padding-bottom: 25px;
	}
}

.purchase__update-button {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
	@include media-breakpoint-down(small-tablet) {
		margin-top: 25px;
	}
}

.purchase__update-button:after {
	content: '';
	display: inline-block;
	margin-left: 10px;
	@include sprite($i_link-arrow);
}

.purchase__subtotal {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: $black_absolute;
}

.purchase__subtotal-label {
	float: left;
}

.purchase__subtotal-value {
}

.purchase__promocode {	
	border-top: 1px solid $white-grey;
	border-bottom: 1px solid $white-grey;
}

.purchase__promocode td {
	padding: 50px 5px;
	@include media-breakpoint-down(small-tablet) {
		display: block;
		padding: 25px 5px;
	}
}

.purchase__promocode-input {
	padding-left: 20px;
	width: 300px;
	height: 55px;
	font-size: $font-size;
	@include media-breakpoint-down(small-tablet) {
		width: auto;
	}
}

.purchase__promocode-button {
	margin-left: 19px;
	padding: 0;
	border: none;
	background: none;
	font-size: 20px;
	font-weight: bold;
	color: $black_absolute;
	cursor: pointer;
	outline: none;
}

.purchase__grand-total {
	text-align: right;
	font-size: $font-size-l;
	font-weight: bold;
	color: $black_absolute;
}

.purchase__grand-total-label {
	float: left;
}

.purchase__links td {
	padding: 50px 5px;
	@include media-breakpoint-down(small-tablet) {
		display: block;
		padding: 25px 5px;
		@include clearfix;
	}
}

.purchase__continue-shopping {
	font-size: $font-size;
	font-weight: bold;
	color: $black_absolute;
	cursor: pointer;
}

.purchase__continue-shopping:before {
	content: '';
	display: inline-block;
	margin-right: 10px;
	@include sprite($i_link-arrow);
	transform: rotate(180deg);
}

.purchase__go-to-checkout {
	float: right;
	display: block;
	width: 82%;
	height: 50px;
	background: $black_absolute;
	color: $white_absolute;
	font-size: $font-size;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	@include media-breakpoint-down(small-tablet) {
		margin: 0 auto;
		width: 100%;
	}
}