.multiple-shipping-page {
	.purchase__item:last-child {
		border-bottom: 1px solid $white-grey;
	}

	.purchase__buttons {
		padding: 0;
		text-align: right;
	}

	.purchase__delete-button {
		position: relative;
		top: 0;
	}

	.purchase__image {
		max-width: 160px;
		max-height: 160px;
	}

	.purchase__product-header {
		font-size: $font-size;
	}

	.purchase__product-code {
		font-size: $font-size-xs;
	}

	.purchase__product-color {
		margin-top: 30px;
		font-size: $font-size-xs;
	}

	.purchase__product-color-label {
		line-height: 15px;
	}

	.purchase__product-color-value {
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	.purchase__product-size {
		margin-top: 15px;
		font-size: $font-size-xs;
	}

	.purchase__product-size-value {
		width: 15px;
		font-size: $font-size-xs;
	}
}