.price {
    display: inline-block;

    &__old {
        color: $additional_text_color;
        font-size: 12px;
        text-decoration: line-through;
        padding: 0 5px 0 0;
    }
    &__regular {
        color: $grey_absolute;
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px 0 0;
    }
}