.star-ratings-sprite {
  background: url("../../images/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 12px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 12px*5;
  display: inline-block;
  vertical-align: middle;

  &-rating {
    background: url("../../images/star-rating-sprite.png") repeat-x;
    background-position: 0 110%;
    float: left;
    height: 12px;
    display:block;
  }

}
